{% load static %}
        <header id="xt-home" class="xt-header">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="xt-language col-md-6 col-sm-6 col-xs-12">
                            <div class="each-nav">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if user.is_authenticated %}
                <div class="main-navigation">
                    <nav class="navbar navbar-fixed-top nav-scroll">
                        <div class="container">
                            <div class="row">
                                <div class="navbar-header">
                                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span aria-hidden="true" class="icon"></span>
                                  </button>
                                  <a class="navbar-brand" href="/"><img src="{% static 'images/flogo.png' %}" alt="" class="img-responsive"></a>
                                </div>                                
                                <div class="col-md-7" style="width: 58.000%;">
                                    {% include 'products/search_form.html' %}                                    
                                </div>
                                <div class="collapse navbar-collapse" id="js-navbar-menu">
                                    <ul class="nav navbar-nav navbar-right ep-mobile-menu" id="navbar-nav">
                                        <li> <span style="font-size: 14px; font-weight: 700; font-style: italic;"> Merhaba</span>, 
                                            <a href="/profile/{{user}}/">
                                                <span style="font-size: 14px;">{{user.username|truncatechars:7}}</span>
                                            </a></li>
                                        <li><a href='{% url "logout" %}?next=/'>Çıkış Yap</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            {% else %}
                <div class="main-navigation">
                    <nav class="navbar navbar-fixed-top nav-scroll">
                        <div class="container">
                            <div class="row">
                                <div class="navbar-header">
                                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span aria-hidden="true" class="icon"></span>
                                  </button>
                                  <a class="navbar-brand" href="/"><img src="{% static 'images/flogo.png' %}" alt="" class="img-responsive"></a>
                                </div>
                                <div class="col-md-7" style="width: 58.000%;">
                                    {% include 'products/search_form.html' %}                                    
                                </div>                                
                                <div class="collapse navbar-collapse" id="js-navbar-menu">
                                    <ul class="nav navbar-nav navbar-right ep-mobile-menu" id="navbar-nav">
                                        <li><a href="/register"> Üye Ol </a></li>
                                        <li><a href="/login"> Gİrİş Yap </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            {% endif %}
             <!--Mobile Menu-->
            <div class="main-color-bg">
                <div class="container">
                    <div class="row">
                        {% include 'categories/category_list.html' %}
                        <div class="col-md-1 col-sm-2 col-xs-2">
                            <div class="xt-cart">
                                <ul>
                                    <li class="dropdown">
                                      <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                                       <i class="fa flaticon-supermarket-cart"></i>
                                      </a>
                                        <ul class="dropdown-menu xt-cart-items">
                                            {% for item in carts %}
                                                <li>
                                                    <a href="/carts/cart/detail/">
                                                        <img src="/media/{{ item.product.image_prod }}" alt="Ürün Resmi">
                                                        <h3>
                                                            {{ item.product.name |truncatechars:22 }}
                                                            
                                                        </h3>   
                                                            
                                                          
                                                          
                                                          
                                                        <span class="cart-price">{{ item.product.price }} TL <span style="font-size:12px;">( {{ item.quantity }} Adet )</span></span>                 
                                                    </a>
                                            {% endfor %}
                                            <li>
                                                <a href="" class="subtotal top-checkout">
                                                    <h3>Toplam : {{ carts.get_total_price }} TL </h3>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/" class="process top-checkout">
                                                    <h3>Gönder </h3>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <span class="xt-item-count">{{ carts.get_total_item }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>

        <div class="menu-spacing">
            <div class="container">
                <div class="row">
                    <div class="mobile-menu-area visible-xs visible-sm">
                        <div class="mobile-menu">
                            <nav id="mobile-menu-active">
                                <ul class="main">
                                    <li><a class="main-a" href="">ET</a></li>
                                    <li><a class="main-a" href="">GIDA</a></li>
                                    <li class="active"><a class="main-a" href="#">İÇEÇEK</a>
                                        <ul>
                                            <li><a href="#">LOREM</a></li>
                                            <li><a href="#">LOREM</a></li>
                                            <li><a href="#" class="main-a">LOREM</a>
                                                <ul>
                                                    <li><a href="#">LOREM</a></li>
                                                    <li><a href="#">LOREM</a></li>
                                                    <li><a href="#">LOREM</a></li>
                                                    <li><a href="#">LOREM</a></li>
                                                </ul>
                                            </li>
                                        </ul> 
                                    </li>
                                    <li><a class="main-a" href="">LOREM</a></li>
                                    <li><a class="main-a" href="">LOREM</a></li>
                                </ul>
                            </nav>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
