{% load static %}
        <!--
        |========================
        |  SLIDER
        |========================
        -->

        <section class="xt-slider">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 category-hidden padding-right-o"></div>
                    <div class="col-md-9 col-md-offset-3 padding-o padding-sm">                      
                        <div class="flexslider xt-slider-inner">
                            <ul class="slides" id="aktuel-ul-container" data-url="/api/aktuel/">
                                        <!-- loadAktuelUlContainer() not parameter !!! -->
                                        <!-- Aktuel Jquery -->  
                            </ul>
                        </div>
                        <div class="flexslider-controls">
                            <ol class="flex-control-nav" id="aktuel-ol-container" data-url="/api/aktuel/">
                                 <!-- loadAktuelOlContainer() not parameter !!! -->
                                    <!-- Aktuel Jquery -->
                            </ol>
                        </div>                                          
                    </div>
                </div>
            </div>
        </section>