<div class="col-md-3 left-menu-wrapper">
    <div class="xt-sidenav hidden-xs hidden-sm">
        <nav>
            <ul class="xt-side-menu">
                <li>
                    <a href="#">KATEGORİLER</a>
                    <ul class="xt-dropdown" id="category-container" data-url="/api/category/">
                             
                            <!-- Products Jquery -->                    
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>            