{% extends 'base.html' %}
{% load static %}
{% block title %}
    Sepetim |
{% endblock %}


{% block content %}

<style type="text/css">
    .btn-primary:hover{
        background-color:#f26667;
        border-color: #f26667;
    }
</style>
    <div class="container">
        <div class="row" style="margin-top: 6%">
        <h2>Sepetim
            <span class="badge pull-right">
                {% with totail_items=carts|length %}
                    {% if carts|length > 0 %}
                        Sepetimdekiler:
                        <a href="{% url "cart:cart_detail" %}" style="color: #ffffff; font-size:15px;">
                            {{ totail_items }} Ürün {{ totail_items|pluralize }}, TL. {{ carts.get_total_price }}
                        </a>
                        {% else %}
                        Sepetiniz boş.
                    {% endif %}
                {% endwith %}
            </span>
        </h2>
            <table class="table table-striped table-hover">
                <thead style="background-color: #f26667">
                    <tr>
                        <th>Resim</th>
                        <th>Ürün</th>
                        <th>Birim Fiyat</th>
                        <th>Fiyat</th>                        
                        <th>Miktar</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in carts %}
                    {% with product=item.product  %}
                        <tr>
                            <td>
                                <a href="{{ product.get__absolute_url }}">
                                    
                                    <img src="/media/{{ product.slug.image_prod_first }}" alt="..." style="height: 130px; width: auto">
                                </a>
                            </td>
                            <td>{{ product.name }}</td>
                            <td>{{ item.price }} TL </td>
                            <td>{{ item.total_price }} TL</td>                            
                            <td>
                                <form action="{% url "cart:cart_add" product.id %}" method="post">
                                    {% csrf_token %}
                                    {{ item.update_quantity_form.quantity }}
                                    {{ item.update_quantity_form.update }}
                                    <input type="submit" value="Güncelle" class="btn btn-primary">
                                </form>
                            </td>
                            <td>
                                <a href="{% url "cart:cart_remove" product.id %}" class="btn btn-primary">Sil</a>
                            </td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                <tr style="background-color: #f26667">
                    <td><b>Toplam</b></td>
                    <td colspan="4"></td>
                    <td colspan="num"><b>TL {{ carts.get_total_price }}</b></td>
                </tr>
                </tbody>
            </table>
        <p class="text-right">

            <a href="" class="btn btn-primary">Gönder</a>
        </p>
        </div>
    </div>
{% endblock %}