{% extends "admin/change_form.html" %}
{%load static%}



{% block content %}
	{{ block.super }}
	<h1> SELAMLAR</h1>

	<div class="demo">

	</div>
	<script>
		category_text = document.getElementById("id_category")
		category_selected_text = category_text.options[category_text.selectedIndex].text;
		company_text = document.getElementById("id_company")
		company_selected_text = category_text.options[category_text.selectedIndex].text;
		brand_text = document.getElementById("id_brand")
		brand_selected_text = category_text.options[category_text.selectedIndex].text;

	</script>	
{% endblock content %}