{% extends "admin/change_form.html" %}
{%load static%}



{% block content %}
	{{ block.super }}
	<h1> SELAMLAR</h1>

	<div class="demo">

	</div>

  <div class='printchatbox'>CHANGE ME</div>
  <input type='text' name='fname' class='chatinput'>

<script type="script/javascript">
  $('.chatinput').keyup(function(event) {
  	console.log(event)
    newText = event.target.value;
    $('.printchatbox').text(newText);
  });
</script>	
	<script>
		product_slug_text = document.getElementById("id_slug").value;
		console.log(product_slug_text);

	</script>	
{% endblock content %}