{% extends "base.html" %}


{% block script %}
    <script>

        // Aktuel APP Implemented 
        $(document).ready(function(){
            loadAktuelUlContainer("aktuel-ul-container")
        });

        $(document).ready(function(){
            loadAktuelOlContainer("aktuel-ol-container")
        });        

        // Categories APP Implemented 
        $(document).ready(function(){
            loadCategoryContainer("category-container")
        });


        // Products APP  Implemented 
        $(document).ready(function(){
            loadProductContainer("product-container", "", "false")
        });



        // Products For Categories APP  Implemented 
              
        $(document).ready(function(){
            loadProductContainer("product-categories-header", "product-category-header", "false")
        });                
    </script>
{% endblock script %}


{% block content %}
        <!--
        |========================
        | FEATURE PRODUCT
        |========================
        -->

        <section class="xt-feature-product">
            <div class="container">
                <div class="row section-separator">
                    <div class="section-title">
                        <h2>İLGİNİZİ ÇEKEBİLECEK ÜRÜNLER</h2>
                        <span class="xt-title-bg"></span>
                    </div>
                    <div class='xt-product-slide'>
                        <div class='xt-product-carousel' id="product-container" data-url="/api/product/"> <!-- loadProductContainer() not parameter !!! -->
                        	<!-- Products Jquery -->

                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!--
        |========================
        |  BY CATEGORY PRODUCT
        |========================
        -->
        <section class="product-category">
            <div class="container">
                <div class="row section-separator">
                    <div class="section-title">
                         <h2> KATEGORİLERİNE GÖRE ÜRÜNLER </h2>
                        <span class="xt-title-bg"></span>
                    </div>


                    <div class='col-xs-12'>
                        <div class='xt-product-slide'>
                            <div class='xt-carousel' id="product-categories-header" data-url="/api/category/">

                            </div>
                        </div>
                    </div>

                    <div class="xt-category-feature col-xs-11 xt-product-slide">
                        <div class='xt-product-carousel-category' id="product-categories-container" data-url="/api/product/"> <!-- loadProductContainer() not parameter !!! -->
                            <!-- Products For Categories Jquery -->

                        </div> 
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}