{% extends 'base.html' %}
{% load static %}
{% block title %}
    Your Shopping Cart
{% endblock %}


{% block content %}

<style type="text/css">
    .btn-primary:hover{
        background-color:#f26667;
        border-color: #f26667;
    }
</style>
    <div class="container">
        <div class="row" style="margin-top: 6%">
        <h2>Sepetim
            <span class="badge pull-right">
                {% with totail_items=cart|length %}
                    {% if cart|length > 0 %}
                        Sepetimdekiler:
                        <a href="{% url "cart:cart_detail" %}" style="color: #ffffff">
                            {{ totail_items }} Ürün {{ totail_items|pluralize }}, TL. {{ cart.get_total_price }}
                        </a>
                        {% else %}
                        Sepetiniz boş.
                    {% endif %}
                {% endwith %}
            </span>
        </h2>
            <table class="table table-striped table-hover">
                <thead style="background-color: #f26667">
                    <tr>
                        <th>Resim</th>
                        <th>Ürün</th>
                        <th>Miktar</th>
                        <th>Sil</th>
                        <th>Birim Fiyat</th>
                        <th>Fiyat</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in cart %}
                    {% with product=item.product  %}
                        <tr>
                            <td>
                                <a href="{{ product.get__absolute_url }}">
                                    <img src="{% if product.image %} {{ product.image_prod.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..." style="height: 130px; width: auto">
                                </a>
                            </td>
                            <td>{{ product.name }}</td>
                            <td>
                                <form action="{% url "cart:cart_add" product.id %}" method="post">
                                    {% csrf_token %}
                                    {{ item.update_quantity_form.quantity }}
                                    {{ item.update_quantity_form.update }}
                                    <input type="submit" value="Update" class="btn btn-info">
                                </form>
                            </td>
                            <td>
                                <a href="{% url "cart:cart_remove" product.id %}">Sil</a>
                            </td>
                            <td>TL {{ item.price }}</td>
                            <td>TL {{ item.total_price }}</td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                <tr style="background-color: #f26667">
                    <td><b>Toplam</b></td>
                    <td colspan="4"></td>
                    <td colspan="num"><b>TL {{ cart.get_total_price }}</b></td>
                </tr>
                </tbody>
            </table>
        <p class="text-right">

            <a href="" class="btn btn-primary">Gönder</a>
        </p>
        </div>
    </div>
{% endblock %}