{% extends "base.html" %}
{% load crispy_forms_tags %}



{% block script %}
<script>



</script>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
	<style type="text/css">
		.btn-facebook {
		    background-color: #405D9D;
		    color: #fff;
		}
		.btn-twitter {
		    background-color: #42AEEC;
		    color: #fff;
		}	
	</style>


	<div class="container">
	    <section class="container">
	    <div class="container-page">        
	      <div class="col-md-12">  	
	        <h3 class="dark-grey center"> Üye Ol </h3><hr>
	        <div class="form-group col-lg-12">
	        <div class="col-md-6">
				<p>
					<a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Facebook İle Giriş Yap</a>
				</p>             	
	        </div>       
	        <div class="col-md-6">
				<p>
					<a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Twitter İle Giriş Yap</a>
				</p>             	
	        </div>
			<form class="form {% if form_class %}{{ form_class }}{% endif %} " method="post" action="{% if action_url %} {{ action_url }} {% endif %}">
					{% csrf_token %}
					<div class="form-group col-lg-10">
			          <label>{{ form.username.label_tag }}</label>

			          <div class="input-group">
			            <span class="input-group-addon"><i class="fa fa-user"></i></span>
			            <input type="text" class="form-control" name="username" placeholder="Kullanıcı Adı">
			          </div>
			          <span class="help-block"></span>
			        </div>
			        <div class="form-group col-lg-6">
			          <label> {{ form.password.label_tag }}</label>
			          <div class="input-group">
			            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
			            <input  type="password" class="form-control" name="password" placeholder="Parola">
			          </div>
			            <span class="help-block"></span>
			        </div>
			        <div class="form-group col-lg-6">
			          <label>Tekrar {{ form.password.label_tag }}</label>
			          <div class="input-group">
			            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
			            <input  type="password" class="form-control" name="password2" placeholder="Parola">
			          </div>
			            <span class="help-block"></span>
			        </div>       
			        <div class="form-group col-lg-6">
			          <label>{{ form.email.label_tag }}</label>
			        <div class="input-group">
			            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
			            <input  type="email" class="form-control" name="mail" placeholder="E-Mail">
			          </div>
			            <span class="help-block"></span>
			        </div>  
			        <div class="form-group col-lg-6">
			          <label>Tekrar {{ form.email.label_tag }}</label>
			                    <div class="input-group">
			            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
			            <input  type="email" class="form-control" name="email2" placeholder="E-Mail">
			          </div>
			                <span class="help-block"></span>
			        </div>      
			        <div class="col-sm-6">
			          <input type="checkbox" name="info" class=""> <span>  Bilgilendirmelerden beni haberdar et. </span></input>
			        </div>
			        <div class="col-sm-6">
			          <input class="btn btn-primary btn-block btn-lg btn-fill" type="submit" value="Üye Ol" />
			        </div>
	        </form>	      
	      </div>
	    </div>
	  </section>
	</div> <br><br>	


{% endblock content %}

