{% extends "base.html" %}
{% block content %}

    {% for object in object_list %}
        <div class='col-md-3'>
            <div role='tabpanel' class='tab-pane active xt-product-tab'>
                <div class='tab-content xt-pro-small-image'>
                    <div role='tabpanel' id='xt-pro-1' class='tab-pane fade active in'>
                        <a class='grouped_elements' data-fancybox='gallery' href="/media/{{object.image_aktuel_prod}}/">
                            <img src="/media/{{object.image_aktuel_prod}}/" alt='' class='img-responsive'>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}










