{% extends "base.html" %}

{% block script %}
<script>



</script>
{% endblock %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3 text-center">
    <h1>Login</h1>
{% if form.errors %}
<p>Kullanıcı adı veya şifre yanlış</p>{{ form.errors }}
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <div class="form-group">
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </div>


    <button type="submit" class="btn btn-default"> Giriş </button>
    <input type="hidden" name="next" value="{{ next }}" />
    <p><a href="{% url 'password_reset' %}">Şifremi Unuttum?</a></p>
    </form>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}