{% extends "base.html" %}


{% block script %}
    <script>

        // Aktuel APP Implemented 
        $(document).ready(function(){
            loadAktuelUlContainer("aktuel-ul-container")
        });

        $(document).ready(function(){
            loadAktuelOlContainer("aktuel-ol-container")
        });        

        // Categories APP Implemented 
        $(document).ready(function(){
            loadCategoryContainer("category-container")
        });

        // Companies APP Implemented
        $(document).ready(function(){
            loadCompanyContainer("company-container")
        });


        // Products APP  Implemented 
        $(document).ready(function(){
            loadProductContainer("product-container", "")
        });


          
    </script>
{% endblock script %}


{% block content %}
        <!--
        |========================
        | FEATURE PRODUCT
        |========================
        -->
        <section class="xt-feature-product">
            <div class="container">
                <div class="row section-separator">
                    <div class="section-title">
                        <h2>İLGİNİZİ ÇEKEBİLECEK ÜRÜNLER</h2>
                        <span class="xt-title-bg"></span>
                    </div>
                    <div class='xt-product-slide'>
                        <div class='xt-product-carousel' id="product-container" data-url="/api/product/"> <!-- loadProductContainer() not parameter !!! -->
                        	<!-- Products Jquery -->

                        </div>
                    </div>
                </div>
            </div>
        </section>


{% for object in object_list %}
    {{object.slug.image_prod_first.normal}}
    <img src='{{ object.slug.image_prod_first.normal }}' alt='' class='img-responsive img-thumbnail' style='border: none; display: block;max-height: 200px; min-height: 200px;'>

{% endfor %}
{% endblock content %}
