{% extends "base.html" %}
{% block script %}
	<script>

    // Categories APP Detail Implemented 
    $(document).ready(function(){
        loadCategoryContainer("category-container", {{ object.id }})
    });

    // Companies APP Detail Implemented
        $(document).ready(function(){
            loadCompanyContainer("company-container")

        });

    // Products APP Detail Implemented 
    $(document).ready(function(){
    	loadProductContainer("product-container", {{ object.id }})

    });


    // Products Top Featured Products Implemented
    $(document).ready(function(){
        loadProductContainer("product-top-feature-container", "top-featured")
    });        

    // Products APP  Implemented 
    $(document).ready(function(){
        loadProductContainer("product-featured-container", "featured")
    });


	</script>
{% endblock script %}

{% block content %}

<style type="text/css">
    .another_prices{
    width: 100%;   
    }
    .another_prices_tr{
        padding-bottom: 10px;
    }
</style>

        <!--
        |========================
        |   PRODUCT DESCRIPTION
        |========================
        -->

        <section class="xt-xt-single-product">
            <div class="container">
            	<div class="row">
                    <div class="col-md-3 visible-xs visible-sm padding-right-o"></div>
                    <div class="col-md-9 col-md-offset-3 padding-o">
                        <div class="xt-product-inner" id="product-container" data-url="/api/product/">

                        </div>
                    </div>          
            	</div>
            </div>
        </section>
        
        <div class="clearfix"></div>

        
        <div class="xt-product-description">   <br><br><br><br><br><br><br><br><br><br><br><br><br>
            <div class="container">
                <div class="row section-separator">
                    <aside class="col-md-3">
                        <div class="xt-top-product">
                            <h3>En Sıcak Ürünler</h3>
                            <div class="each-top-product" id="product-top-feature-container" data-url="/api/product/featured">

                            </div>
                        </div>
                        <div class="xt-side-deal">
                            <div class="xt-off-deal cover-bg white xt-deal xt-color-bg">
                                <span>Şu Şu ürünlerde</span>
                                <h2 class="xt-deal-price">66<span style='font-size:20px;'>%<br>İndİRİM</span></h2>
                                <a href="" class="btn btn-border">Şimdi Göz At</a>
                            </div>
                        </div>
                    </aside>
                    <div class="col-md-9">
                        <div class="xt-single-item-info">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs xt-single-item-tab" role="tablist" id="xt-product-dec-nav">
                                <li role="presentation" class="active">
                                    <a href="#description" aria-controls="description" role="tab" data-toggle="tab">Tanıtım</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#specification" aria-controls="specification" role="tab" data-toggle="tab">Özellikleri</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#review" aria-controls="review" role="tab" data-toggle="tab">Diğer Fiyatlar({{ object.slug.get_slug_count }})</a>
                                </li>
                            </ul>
                            
                            <!-- Tab panes -->
                            <div class="tab-content xt-tab-content">
                                <div role="tabpanel" class="tab-pane xt-pane xt-description fade in active" id="description">
                                    <h3>{{ object.name }}</h3>
                                    <b>{{ object.title }}</b><br>

                                    {{ object.content|safe }}
                                </div>
                                <div role="tabpanel" class="tab-pane xt-pane fade" id="specification">
                                    <h3>Ürün Özellikleri</h3>
                                    
                                    {{ object.feature|safe }}
                                </div>
                                <div role="tabpanel" class="tab-pane xt-pane xt-review fade" id="review">
                                    <h4>Diğer Fiyatlar({{ object.slug.get_slug_count }})</h4><br>
                                    <table class="another_prices">
                                        <thead style="">
                                            <tr class="another_prices_tr_head">
                                                        <th style="margin-bottom:20px;">Resim</th>
                                                        <th>Ürün</th>
                                                        <th>Şirket</th>
                                                        <th>Fiyat</th>                 
                                            </tr>
                                        </thead>
                                        <tbody> 
                                            {% for item in object.slug.get_slug_detail %}
                                                <tr class="another_prices_tr">
                                                    <td>
                                                        <a href="{{ item.get__absolute_url }}">
                                                            
                                                            <img src="/media/{{ item.slug.image_prod_first }}" alt="..." style="max-height: 125px; min-height:125px; width:125px; margin-bottom:20px;">
                                                        </a>
                                                    </td>
                                                    <td>{{ item.name }}</td>
                                                    <td>{{ item.company.company_name }}</td> 
                                                    <td>{{ item.price }} TL</td>
                                                    <td><form action='/carts/cart/add/{{item.id}}/' method='GET'>{% csrf_token %}{{ cart_product_form }}<input type='submit' value='Sepete Ekle' class='btn btn-fill'></form></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>                                    

                                </div>
                            </div>
                        </div>
                        
                            <section class="xt-feature-product">
                                <div class="container">
                                    <div class="row section-separator">
                                        <div class="section-title">
                                            <h2>İLGİNİZİ ÇEKEBİLECEK ÜRÜNLER</h2>
                                            <span class="xt-title-bg"></span>
                                        </div>
                                        <div class='xt-product-slide'>
                                            <div id="product-featured-container" data-url="/api/product/"> <!-- loadProductContainer() not parameter !!! -->
                                                <!-- Products Jquery -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                    </div>
                </div>
            </div>
        </div>


{% endblock content %}
